* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --maxWidthLarge: 91%;
  --maxWidthMedium: 83%;
  --maxWidthSmall: 75%;
  --bgBody: #000;
  --bgColor: #151516;
  --bgColorAlt: rgba(29, 29, 31, 0.99);
  --colorText: #fff;
  --colorTextAlt: #a1a1a6;
  --colorAccent: #0071e3;
  --colorAccentAlt: #2997ff;

  --headerHeight: 3rem;
  --z-negative: -1;
  --z-normal: 1;
  --z-sticky: 50;
  --time: 0.15s;
}

html {
  scroll-padding-block-start: var(--headerHeight);
  scroll-behavior: smooth;
}

body {
  background-color: var(--bgBody);
  color: var(--colorText);
  font-family: var(--fontBody);
}

button {
  all: unset;
  cursor: pointer;
}

a {
  cursor: pointer;
  color: var(--colorAccentAlt);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &.arrow {
    display: inline-block;

    &::after {
      content: '\e900';
      display: inline;
      padding-inline-start: 0.25rem;
      font-family: 'icomoon' !important;
      font-size: 0.65rem;
    }
  }
}

.bgBlack {
  background-color: var(--bgColor);

  &-alt {
    background-color: var(--bgColorAlt);
  }
}
