.place-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin-inline: auto;
  inline-size: min(87.5%, calc(17.5px + 4rem));
}

@media screen and (min-width: 734px) {
  .container {
    inline-size: min(100%, 43.25rem);
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 61.25rem;
  }
}
