.place-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin-inline: auto;
  inline-size: 88%;

  @media screen and (min-width: 734px) {
    inline-size: min(100%, 43.25rem);
  }

  @media screen and (min-width: 1024px) {
    max-inline-size: 61.25rem;
  }
}

.hidden {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.center-x {
  left: 50%;
  transform: translateX(-50%);
}
